<h1>Guest: <%= @guest.name %></h1>
<table>
  <tr>
    <th>Occupation</th>
    <th>Episodes</th>
  </tr>
  <tr>
    <td><%= @guest.occupation %></td>
    <td>
      <%= @guest.episodes.nil? ? "none" : @guest.episodes.map {|episode| "<a href='/episodes/#{episode.id}'>#{episode.number}</a>"}.join(", ")%>
    </td>
  </tr>
</table>

Create an Appearance
<%= form_for :appearance, url: appearances_path do |f| %>
  <%= f.text_field :guest_id, {value: @guest.id, type: "hidden"} %><br>
  Episode Number: <%= f.text_field :episode_id %><br>
<% end %>
